[submodule "remote_for_slides_extension"]
	path = remote_for_slides_extension
	url = git@github.com:yumekiti/remote_for_slides_extension.git
[submodule "remote_for_slides_web"]
	path = remote_for_slides_web
	url = git@github.com:RuiOkazaki/remote_for_slides_web.git
[submodule "slide_sync_extension"]
	path = slide_sync_extension
	url = https://github.com/yumekiti/slide_sync_extension
[submodule "slide_sync_web"]
	path = slide_sync_web
	url = https://github.com/yumekiti/slide_sync_web
